.kidesam-onucakes::selection {
    color: none;
    background: none;
}

.kesumblen {
    padding: 5px;
}

.kidesam-onucakes {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 15px;
    border: 1px solid #d8d3d3;
    font-size: 1.1em;
    background-color: white;
    color: black;
}

.ublosam-kaconckes-box  {
    position: absolute;
    opacity: 0;
}

/* скрываем checkbox */
.vupadayus-blokirata {
    display: none;
}

.vupadayus-blokirata:checked ~ .ublosam-kaconckes-box {
    display: block;
    position: relative;
    transition: opacity .5s linear;
    transform:translate(0);
    opacity: 1;
    margin-top:5px;
    cursor: pointer;
    padding: 15px;
    font-size: 1em;
    background-color: #fff;
}

/* Контейнер для кнопки */
.css-modal-checkbox-container {
    height: 15%;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* Убираем флажок */
input[id^="css-modal-checkbox"] {
    display: none;
}

/* Кнопка для открытия */
.css-modal-checkbox {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    overflow: hidden;
    z-index: 1;
}

.css-modal-checkbox:hover,
.css-modal-checkbox:active,
.css-modal-checkbox:focus {
    color: #FFF;
}

.css-modal-checkbox:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #2D6B9F;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}

.css-modal-checkbox:hover:before,
.css-modal-checkbox:active:before,
.css-modal-checkbox:focus:before {
    transform: translateX(0);
}

/* Контейнер, который затемняет страницу */
input[id*="css-modal-checkbox"] + .cmc {
    display: none;
}

input[id*="css-modal-checkbox"]:checked + .cmc {
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 4;
    position: fixed;
    left: 0;
    width: 100%;
    animation: bg 0.5s ease;
    background: rgba(51, 122, 183, 0.7);
}

/* Модальное окно */
input[id*="css-modal-checkbox"]:checked + .cmc .cmt {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 20px;
    width:100%;
    max-width: 600px;
    max-height: 70%;
    transition: 0.5s;
    border: 6px solid #BFE2FF;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
    animation: scale 0.5s ease;
}
/* Кнопка с крестиком закрывающая окно */
.css-modal-close {
    content: "";
    width: 50px;
    height: 50px;
    border: 6px solid #BFE2FF;
    border-radius: 12px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
    animation: move 0.5s ease;
    cursor: pointer;
}
textarea {
    width:100%
}
/* Анимации */
@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes move {
    0% {
        right: -80px;
    }
    100% {
        right: 20px;
    }
}

@keyframes bg {
    0% {
        background: rgba(51, 122, 183, 0);
    }
    100% {
        background: rgba(51, 122, 183, 0.7);
    }
}