html, body {
  font-family: Circe;
  font-size: 12pt;
}

table, th, td {
    border: white;
}

div.profile {
    margin:0 auto;
    top: -10%;
    left: 50%;
    width: 90%;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
}

.p-3 {
    padding: 1rem;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-column {
    flex-direction: column;
}

.d-flex {
    display: flex;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.sidemenu {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 17%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    border-right: 1px solid grey;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.main {
    margin-left: 17%; /* Same as the width of the sidebar */
    padding: 2% 10px;
    width: 80%;
}

@font-face {
    font-family: Circe;
    src: local('Circe'),
    url("fonts/circe.ttf") format("truetype");
}

@font-face {
    font-family: Circe-Bold;
    src: local('Circe Bold'),
    url("fonts/circe-bold.ttf") format("truetype");
}
