{% extends 'base.html' %}
{% load static %}
{% block body %}
      <center>
            <form id='form' action="{% url 'applications:new_app_cat' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" value="{{ id_app }}" name="id_app">
            </form>
            <label>Формируем заявку. Пожалуйста, подождите....</label><br>
            <img src="{% static 'work/load.gif' %}">
      </center>
      <script>
            setTimeout(() => {
               document.getElementById('form').submit();
            }, 3000)
      </script>
{% endblock %}